<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SupChat</title>
    <link rel="stylesheet" href="/assets/home.css">
</head>
<body>
    <div class="container">
        <h1>SupChat</h1>
        <h2>Number of Chats: {{ len .Rooms }}</h2>
        <h2>Number of Users: {{ len .Usernames }}</h2>
        <hr>
        <h4>Find Group</h4>
        <form id="form">
            <input type="text" id="group" size="30" autofocus placeholder="Enter chat name...">
            <input type="submit" value="Go">
        </form>
        <table>
            <tr>
                <td>Chat</td>
                <td>Users</td>
                <td>...</td>
            </tr>
            {{ range $chatName, $hub := .Rooms }}
                <tr>
                <td>{{ $chatName }}</td>
                <td>{{ len $hub.Clients }}</td>
                <td><a href="c/{{ $chatName }}">Join Chat</td>
                </tr>
            {{ end }}
        </table>
    </div>

    <script>
        document.getElementById("form").onsubmit = function (event) {
            event.preventDefault();
            var chatName = document.getElementById("group").value.trim();
            if (chatName !== "") {
                window.location.href = `/c/${chatName}`;
            }
        };
    </script>
</body>
</html>
