<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SupChat</title>
    <link rel="stylesheet" href="/assets/base.css">
    <link rel="stylesheet" href="/assets/home.css">
</head>
<body>
    <header>
        <a href="/">SupChat 🏠</a> <!-- Added a link to the home page -->
    </header>
    <div class="container">
        <h1 style="margin:0">SupChat</h1>
        <h2>Text-only group chats</h2>
        <br>
        <p>Number of Chats: {{ len .Rooms }}</p>
        <p>Number of Users: {{ .UserCount }}</p>
        <hr>
        <h4>Find Group</h4>
        <input
            type="text"
            id="group"
            size="30"
            autofocus
            placeholder="Enter chat name..."
            onkeydown="handleKeyPress(event)">
        <table id="chatTable">
            <thead>
                <tr>
                    <th>Chat</th>
                    <th>Users</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="chatTableBody">
                <tr id="createChatRow" style="display: none;">
                    <td id="createChatName"></td>
                    <td>0</td>
                    <td><a id="createChatLink" href="#">Create Chat</a></td>
                </tr>
                {{ range $roomID, $userCount := .Rooms }}
                    <tr class="chatRow">
                        <td>{{ $roomID }}</td>
                        <td>{{ $userCount }}</td>
                        <td><a href="/c/{{ $roomID }}">Join Chat</a></td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>

    <script>
        // Table search
        document.getElementById("group").addEventListener("input", function() {
            var input = this.value.trim().toLowerCase();
            var rows = document.querySelectorAll(".chatRow");

            var createChatRow = document.getElementById("createChatRow");
            var createChatNameCell = document.getElementById("createChatName");
            var createChatLink = document.getElementById("createChatLink");

            var exactMatch = false;
            var partialMatch = false;

            for (var i = 0; i < rows.length; i++) {
                var chatNameCell = rows[i].getElementsByTagName("td")[0];
                if (chatNameCell) {
                    var textValue = chatNameCell.textContent || chatNameCell.innerText;
                    if (textValue.toLowerCase() === input) {
                        rows[i].style.display = "";
                        exactMatch = true;
                    } else if (textValue.toLowerCase().includes(input)) {
                        rows[i].style.display = "";
                        partialMatch = true;
                    } else {
                        rows[i].style.display = "none";
                    }
                }
            }

            if (input !== "") {
                if (!exactMatch) {
                    createChatRow.style.display = "";
                    createChatNameCell.textContent = "Create Chat '" + input + "'";
                    createChatLink.setAttribute("href", "/c/" + input);
                } else {
                    createChatRow.style.display = "none";
                }
            } else {
                createChatRow.style.display = "none";
            }
        });

        // Input submit
        function handleKeyPress(event) {
            if (event.key === "Enter") {
                var input = document.getElementById("group").value.trim().toLowerCase();
                if (input !== "") {
                    window.location.href = "/c/" + input;
                }
            }
        }
    </script>
</body>
</html>
