<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SupChat</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏠</text></svg>">
    <link rel="stylesheet" href="/assets/base.css">
    <link rel="stylesheet" href="/assets/room.css">
</head>
<body>
    <header>
        <a href="/">SupChat 🏠</a>
    </header>
    <div id="log"></div>
    <form id="form">
        <textarea
            type="text" id="msg" autofocus placeholder="Enter message...">
        </textarea>
        <input type="submit" value="Send">
    </form>
</body>
<script>
window.onload = function () {
    var conn;
    var msg = document.getElementById("msg");
    var log = document.getElementById("log");

    function appendLog(item) {
        var doScroll = log.scrollTop > log.scrollHeight - log.clientHeight - 1;
        log.appendChild(item);
        if (doScroll) {
            log.scrollTop = log.scrollHeight - log.clientHeight;
        }
    }

    function stringToColor(str) {
        let hash = 0;
        for (let i = 0; i < str.length; i++) {
            hash = str.charCodeAt(i) + ((hash << 5) - hash);
        }
        const c = (hash & 0x00FFFFFF).toString(16).toUpperCase();
        return "#" + "00000".substring(0, 6 - c.length) + c;
    }

    msg.onkeydown = (() => {
      if (event.keyCode == 13 && !event.shiftKey){
        if (!conn) return false;
        if (!msg.value) return false;
        conn.send(msg.value);
        msg.value = "";
        return false;
      }
    });

    if (window["WebSocket"]) {
        conn = new WebSocket("wss://" + document.location.host + "/ws/" + document.location.pathname.split("/").pop());
        conn.onclose = function (evt) {
            var item = document.createElement("div");
            item.innerHTML = "<b>Connection closed.</b>";
            appendLog(item);
        };
        conn.onmessage = function (evt) {
            var message = JSON.parse(evt.data);
            var item = document.createElement("div");
            var timestampItem = document.createElement("span");
            timestampItem.textContent = `[${message.timestamp}]`;
            timestampItem.className = "timestamp";

            if (message.type === "join" || message.type === "leave") {
                item.className = "system_notice";

                var usernameItem = document.createElement("span");
                var messageItem = document.createElement("span");
                usernameItem.style.color = stringToColor(message.user);
                usernameItem.textContent = `@${message.user} `;
                messageItem.innerHTML = message.content.replace(/\n/g, "<br>");

                item.appendChild(timestampItem);
                item.appendChild(usernameItem);
                item.appendChild(messageItem);
            } else if (message.type === "message") {
                var usernameItem = document.createElement("span");
                var messageItem = document.createElement("span");
                usernameItem.style.color = stringToColor(message.user);
                usernameItem.textContent = `@${message.user}: `;
                messageItem.innerHTML = message.content.replace(/\n/g, "<br>");

                var messageContainer = document.createElement("div");
                messageContainer.className = "msg_container";
                messageContainer.appendChild(timestampItem);
                messageContainer.appendChild(usernameItem);
                messageContainer.appendChild(messageItem);
                item = messageContainer;
            }
            appendLog(item);
        };
    } else {
        var item = document.createElement("div");
        item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
        appendLog(item);
    }
};
</script>
</html>
