<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SupChat</title>
    <link rel="stylesheet" href="/assets/start.css">
</head>
<body>
    <form action="/start" method="post">
        <h1>Welcome to `{{ . }}`</h1>
        <h4>Login to chat</h4>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter username..." autofocus required>
        <input type="password" id="password" name="password" placeholder="Enter password..." required>
        <input type="submit" value="Join Chat">
    </form>
</body>
</html>
