<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SupChat</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏠</text></svg>">
    <link rel="stylesheet" href="/assets/base.css">
    <link rel="stylesheet" href="/assets/start.css">
</head>
<body>
    <header>
        <a href="/">SupChat 🏠</a> <!-- Added a link to the home page -->
    </header>
    <form action="/start" method="post">
        <h1>Welcome to `{{ . }}`</h1>
        <h4>Login to chat</h4>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter username..." autofocus required>
        <input type="password" id="password" name="password" placeholder="Enter password..." required>
        <input type="submit" value="Join Chat">
    </form>
</body>
</html>
